@import "../../../../assets/scss/variables";

.profile-footer {
  display: flex;
  place-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: $background-white;
  border-top: 1px solid $background-grey;
  padding: 10px 0;

  p {
    margin: 0;
  }
}
