//variables for colors
$background-white: #f5f5f5;
$background-grey: #e8e8e8;
$text-gray: #a2a2a2;
$primary-blue: #1890ff;
$shadow-color: rgba(0, 0, 0, 0.2);
$text-secondary: rgba(0, 0, 0, 0.65);
$avatar-bg: #1890ff;

//i had an idea to keep original angular colors in this project
$angular-pink: #FF005B;
$angular-purple: #9C1AFF;
$angular-gradient: linear-gradient(135deg, $angular-pink 0%, $angular-purple 100%);
$angular-dark: #121212;
$angular-light: #FAFAFA;
$angular-gray: #616161;
